body {
  background-color: #9e8fb2;
  background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
  }

.navbar-brand {
  background-color: #7C6C92;
}

.navbar-nav {
  background-color: #7C6C92;
}

.navbar-toggler {
  background-color: #7C6C92;
}

.navbar {
  background-color: #7C6C92;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
}

.card-body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.card-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
}

.jumbotron {
  font-family: 'Open Sans Condensed', sans-serif;
}

form {
  font-family: 'Open Sans Condensed', sans-serif;
}

